.clsBg {
  background: "#2002A5";
}

.haxBg {
  background-image: "url('/images/hax.png')";
}

.pmkBg {
  background-image: "url('/images/pmk.png')";
}

.wtrBg {
  background-image: "url('/images/wtr.png')";
}

/* 
        "cls-bg": "#2002A5",
        "hax-bg": "url('/images/hax.png')",
        "pmk-bg": "url('/images/pmk.png')",
        "wtr-bg": "url('/images/wtr.png')",
*/
